main{
    flex:1;
}
#page-registro-evento{
    display: flex;
    min-height: 100vh;
}


.map-container{
    margin: 4rem 0 4rem;
}
.map-container .leaflet-container{
    border-radius: 2rem 2rem 0 0;
}
.map-container footer{
    background: #F5F8FA;
    border-radius: 0 0 2rem 2rem;
}
.button-select{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.button-select button{
    height: 6.4rem;
    background: #F5F8FA;
    color:#5c8599;
    cursor: pointer;
}

.button-select button:first-child{
    border-radius: 2rem 0 0 2rem;
}
.button-select button:last-child{
    border-radius: 0 2rem 2rem 0;
}

.button-select button.active{
    background: #EDFFF6;
    border: 3px solid #6100FF;
    color: #9804F2;
}
.primary-button{
    margin-top: 6.4rem;
    width: 100%;
    height: 6.8rem;
    border: 0;
    border-radius: 2rem;
    cursor: pointer;
    background: #26F88F;
    color: white;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: background-color .2s;
 }
 
 .primary-button:hover{ 
    background: #36cf82;

 }
 .primary-button img{
    margin-right: 1.6rem;
 }